.container {
  width: 40%;
  margin: 0 auto;
  padding: 1%;
  box-shadow: 1px 1px 5px 1px rgb(163, 122, 122);
  min-height: 82vh;
  margin-top: 33px;
  position: relative;
}

.tody-title {
  border-bottom: 1px solid #ccc;
}

#todo-list {
  padding-left: 1px !important;
  margin: 5px;
}

.newtodo {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  border-radius: 1px;
  width: 100%;
  padding: 9px 2px;
}

#refresh {
  cursor: pointer;
  float: right;
}

.hideElement {
  display: none !important;
}

.showElement {
  display: grid !important;
}

.todo {
  padding: 10px 2px;
  border-bottom: 1px solid lightgray;
  display: flex;
}

.todo-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}

.checkbox {
  width: 20px;
  margin: 5px;
}

.content {
  width: 82%;
  margin-top: 8px;
  margin-bottom: 1px;
  font-size: 16px;
}

.editBtn,
.deleteBtn {
  width: 5%;
  margin: 8px;
  font-size: 18px;
}

.taskComplet {
  text-decoration: line-through;
}

.clear-all-tasks {
  display: inline-block;
  padding: 8px 18px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  background-color: transparent;
}

.editBtn {
  color: #ffbf35;
  cursor: pointer;
}

.deleteBtn {
  color: #ec2947;
  cursor: pointer;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 2px;
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 96%;
  padding: 10px;
  margin: 15px 5px;
}

.myCheckbox,
.content {
  display: inline-block;
}

#errorMessag {
  color: red;
}

.editInput {
  padding: 5px;
  width: 78%;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 14px;
}
